*,
::after,
::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, "Helvetica Neue", Arial, sans-serif;
  background-color: #333;
  color: #eee;
  font-size: 16px;
}

p {
  font-size: 1.2rem;
}

.main {
  margin: 4rem auto;
  width: min(95%, 800px);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.section:not(:last-child) {
  margin-bottom: 4rem;
}
.section .more-info {
  color: #eee;
}

.section-heading {
  width: fit-content;
  padding: 0.5rem 0.8rem;
  background-color: #575757;
  font-size: 2rem;
  border-radius: 6px;
}

.is-section :is(h3, h4, a, .special) {
  color: #ff0000;
}
.is-section h3,
.is-section h4,
.is-section a,
.is-section .special {
  color: #00bfff;
}
.is-section :is(h2) {
  font-weight: bold;
  color: #00ff00;
}
.is-section a:is(:hover, :focus) {
  color: #ff00ff;
}

.where-section h3,
.where-section #link {
  color: #00bfff;
}
.where-section :where(h3, h4, #link) {
  color: #ff0000;
}
.where-section :where(h2) {
  color: #00ff00;
}

.has-section__content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 450px) {
  .has-section__content-container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}

.has-group {
  padding: 1rem;
}
.has-group img {
  width: 100%;
  display: block;
  margin-bottom: 1.5rem;
}
.has-group h3,
.has-group p:not(:last-child) {
  margin-bottom: 1.5rem;
}
.has-group:has(img) {
  border: 1px solid #eee;
  border-radius: 4px;
}
.has-group:has(img) > h3 {
  padding: 0.5rem;
  background-color: #ff0000;
}
.has-group:has(a) {
  border-block: 3px solid #eee;
}
.has-group:has(a) > p {
  padding: 0.5rem;
  background-color: #ff00ff;
}

.form-container {
  padding: 0.8rem 1.6rem;
  border: 2px solid transparent;
  border-radius: 6px;
}
.form-container input {
  border: none;
  font-size: inherit;
}
.form-container label {
  font-weight: bold;
}
.form-container:has(input:focus) {
  border-color: #ff0000;
}
.form-container:has(input:focus) label {
  color: #00ff00;
}

/*# sourceMappingURL=styles.css.map */
