$dark-color: #333;
$light-color: #eee;
$red-color: #ff0000;
$yellow-color: #ffff00;
$green-color: #00ff00;
$blue-color: #00bfff;
$cyan-color: #ff00ff;
$system-ui-font: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  Helvetica, "Helvetica Neue", Arial, sans-serif;

*,
::after,
::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  font-family: $system-ui-font;
  background-color: $dark-color;
  color: $light-color;
  font-size: 16px;
}

p {
  font-size: 1.2rem;
}

.main {
  margin: 4rem auto;
  width: Min(95%, 800px);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  .more-info {
    color: $light-color;
  }
}

.section-heading {
  width: fit-content;
  padding: 0.5rem 0.8rem;
  background-color: #575757;
  font-size: 2rem;
  border-radius: 6px;
}

.is-section {
  // :is tiene una alta especificidad y es difícil de cambiar lo definido con esta pseudo-clase, por tanto, mucho cuidado al utilizarla
  & :is(h3, h4, a, .special) {
    color: $red-color;
  }

  // Atención a la especificidad
  h3,
  h4,
  a,
  .special {
    color: $blue-color;
  }

  & :is(h2) {
    font-weight: bold;
    color: $green-color;
  }

  a {
    &:is(:hover, :focus) {
      color: $cyan-color;
    }
  }
}

.where-section {
  h3,
  #link {
    color: $blue-color;
  }

  // :where no tiene especificidad
  & :where(h3, h4, #link) {
    color: $red-color;
  }

  & :where(h2) {
    color: $green-color;
  }
}

.has-section {
  &__content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin-bottom: 2rem;

    // También se pueden usar clases de hijos
    // &:has(.has-group) {
    //     padding: 1rem;
    //     background-color: #575757;
    //     border-radius: 4px;
    // }

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
  }
}

.has-group {
  padding: 1rem;

  img {
    width: 100%;
    display: block;
    margin-bottom: 1.5rem;
  }

  h3,
  p:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &:has(img) {
    border: 1px solid $light-color;
    border-radius: 4px;

    // Este ejemplo permite comprobar que se puede seleccionar un hermano anterior al selector referido. Esto no se podía hacer en CSS.
    & > {
      h3 {
        padding: 0.5rem;
        background-color: $red-color;
      }
    }
  }

  &:has(a) {
    border-block: 3px solid $light-color;
  }

  &:has(a) {
    // Este ejemplo permite comprobar que se puede seleccionar un hermano anterior al selector referido. Esto no se podía hacer en CSS.
    & > {
      p {
        padding: 0.5rem;
        background-color: $cyan-color;
      }
    }
  }
}

.form-container {
  padding: 0.8rem 1.6rem;
  border: 2px solid transparent;
  border-radius: 6px;
  input {
    border: none;
    font-size: inherit;
  }

  label {
    font-weight: bold;
  }

  &:has(input:focus) {
    border-color: $red-color;

    label {
      color: $green-color;
    }
  }
}
